.selected {
    background: lightblue;
}

.start {
    background: green;
}

.end {
    background: red;
}

.borderLeft {
    border-left: 2px solid black;
}

.borderRight {
    border-right: 2px solid black;
}

.borderTop {
    border-top: 2px solid black;
}

.borderBottom {
    border-bottom: 2px solid black;
}